@import "./color.css";

* {
  padding: 2px 5px 0px 5px;
  font-family: "GohuFont 14 Nerd Font Mono";
  border-style: solid;
  font-size: 16px;
  background-color: transparent;
  color: @white;
}


/* WORKSPACES */
#workspaces {
  background-color: shade(#484848, 0.40);
  padding: 2px 5px 2px 5px;
  border: 2px;
  border-style: solid;
  border-radius: 7px;
  border-color: @bcolor;
}

#workspaces button {
  padding: 0px 2px 2px 2px;
  margin: 2px;
  transition: none;
  background: black;
  box-shadow: none;
  border-width: 2px;
  border-radius: 0px;
  border-color: @bcolor;
}

#workspaces button.active {
  border-bottom-color: @white;
}
#workspaces button:hover {
  border-color: @white;
}


/* NETWORK (IP ADDR) */
#network
{
  background-color: shade(#484848, 0.40);

}

/* CAVA */
#custom-cava
{
  padding-left: 5px;
  padding-right: 5px;
  background-color: shade(#484848, 0.40);
  border-width: 2px;
  border-radius: 7px;
  border-color: @bcolor;
}


/* CLOCK  */
#clock
{
  padding-left: 5px;
  padding-right: 5px;
  background-color: shade(#484848, 0.40);
  margin-right: 47px;
  border-width: 2px;
  border-style: solid;
  border-radius: 7px;
  border-color: @bcolor;
}

/* PULSEAUDIO */
#pulseaudio
{
  padding-left: 15px;
  padding-right: 15px;
  background-color: shade(#484848, 0.40);
  border-style: solid;
  border-width: 2px;
  border-radius: 7px;
  border-color: @bcolor;
}